* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  border: 0;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

html,
body,
#app {
  height: 100%;
}

:root {
  --spotify: #1db954;

  --primary-dark: #000000;
  --secondary-dark: #121212;
  --tertiary-dark: #181818;
  --quaternary-dark: #282828;

  --primary-light: #ffffff;
  --secondary-light: #b3b3b3;
  --tertiary-light: #535353;
  --quaternary-light: #5a5a5a;

  --aditional-dark: #050505;
  --aditional-light: #8a8a8a;
}
