* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input {
    border: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body, #app {
    height: 100%;
}

:root {
    --spotify: #1DB954;

    --primary-dark: #000000;
    --secondary-dark: #121212;
    --tertiary-dark: #181818;
    --quaternary-dark: #282828;

    --primary-light: #FFFFFF;
    --secondary-light: #B3B3B3;
}