* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, button, input {
    border: 0;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body, #app {
    height: 100%;
}

:root {
    --sidebar: #000000;
    --background: #121212;
    --card: #121212;
    --active-dark: #282828;

    --primary-font: #FFFFFF;
    --secondary-font: #B3B3B3;

    --spotify: #1DB954;
}